<div class="fb-video" data-href="https://www.facebook.com/ymcaTennisNazareth/videos/442072646564671/" data-width="500"
  data-show-text="true">
  <blockquote cite="https://developers.facebook.com/ymcaTennisNazareth/videos/442072646564671/"
    class="fb-xfbml-parse-ignore"><a
      href="https://developers.facebook.com/ymcaTennisNazareth/videos/442072646564671/"></a>
    <p>نقطة رائعة لللاعبين 🎾💪🏼</p>Posted by <a href="https://www.facebook.com/ymcaTennisNazareth/">Tennis School
      Nazareth- YMCA</a> on Tuesday, 16 April 2019
  </blockquote>
</div>