<div class="mat-elevation-z2">
  <br>
  <p style="font-size:1.5em; color:#444; margin-left:10px; margin-top:10px;">{{groupRanking.groupName}}</p>
  <table mat-table [dataSource]="groupRanking.rankings" style="width:100%;">

    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef> Rank </th>
      <td mat-cell *matCellDef="let player"> {{player.rank}} </td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let player"> {{player.name}} </td>
    </ng-container>

    <ng-container matColumnDef="games">
      <th mat-header-cell *matHeaderCellDef> Games </th>
      <td mat-cell *matCellDef="let player"> {{player.games}} </td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> Score </th>
      <td mat-cell *matCellDef="let player"> {{player.score}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>
</div>