<div>
  <mat-tab-group>
    <mat-tab label="Men">
      <mat-grid-list cols="1" rowHeight="180px">
        <mat-grid-tile *ngFor="let player of playersService.GetMalePlayers()" style="width: 100%">
          <app-player [player]=player></app-player>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>

    <mat-tab label="Women">
      <mat-grid-list cols="1" rowHeight="180px">
        <mat-grid-tile *ngFor="let player of playersService.GetFemalePlayers()" style="width: 100%">
          <app-player [player]=player></app-player>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>
</div>