<div>

  <mat-tab-group>
    <mat-tab label="Men">
      <mat-grid-list cols="1" rowHeight="180px">
        <mat-grid-tile *ngFor="let player of players">
          <mat-card>
            <mat-card-header>
              <mat-icon mat-card-avatar>person</mat-icon>
              <mat-card-title>{{player.name}}</mat-card-title>
              <mat-card-subtitle>{{player.league}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{player.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>SCORES</button>
              <button mat-button>LIKE</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>


    <mat-tab label="Women">
      <mat-grid-list cols="1" rowHeight="180px">
        <mat-grid-tile *ngFor="let player of players">
          <mat-card>
            <mat-card-header>
              <mat-icon mat-card-avatar>person</mat-icon>
              <mat-card-title>{{player.name}}</mat-card-title>
              <mat-card-subtitle>{{player.league}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{player.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>SCORES</button>
              <button mat-button>LIKE</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Boys">
      <mat-grid-list cols="1" rowHeight="180px">
        <mat-grid-tile *ngFor="let player of players">
          <mat-card>
            <mat-card-header>
              <mat-icon mat-card-avatar>person</mat-icon>
              <mat-card-title>{{player.name}}</mat-card-title>
              <mat-card-subtitle>{{player.league}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{player.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>SCORES</button>
              <button mat-button>LIKE</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Girls">
      <mat-grid-list cols="1" rowHeight="180px">
        <mat-grid-tile *ngFor="let player of players">
          <mat-card>
            <mat-card-header>
              <mat-icon mat-card-avatar>person</mat-icon>
              <mat-card-title>{{player.name}}</mat-card-title>
              <mat-card-subtitle>{{player.league}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{player.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>SCORES</button>
              <button mat-button>LIKE</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>

  </mat-tab-group>


</div>