<mat-toolbar class="mat-elevation-z6" color="white" >
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/about">
        <mat-icon>home</mat-icon>
        About
      </button>
      <button mat-menu-item routerLink="/players">
        <mat-icon>person</mat-icon>
        Players
      </button>
      <button mat-menu-item routerLink="/scores">
        <mat-icon>score</mat-icon>
        Scores
      </button>
    </mat-menu>

    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon" style="color:deeppink;">favorite
    </mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet style="height: 100%;"></router-outlet>