<mat-toolbar class="mat-elevation-z0" color="white" style="background-color: white;">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/about">
        <mat-icon>home</mat-icon>
        Home
      </button>
      <button mat-menu-item routerLink="/players">
        <mat-icon>person</mat-icon>
        Players
      </button>
      <button mat-menu-item routerLink="/scores">
        <mat-icon>score</mat-icon>
        Scores
      </button>
    </mat-menu>
    <p style="font-size:1em;color:#aaa;margin-left: 5px;">Nazareth Tennis School</p>
    <p style="color:#ccc; font-size:0.6em; margin-left:8px; margin-top:1px;"> Since 1972</p>
    <span class="example-spacer"></span>

    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon" style="color:red;">favorite
    </mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet style="height: 100%;"></router-outlet>