<div style="width:100%; font-weight: lighter; height: calc(100% - 64px);">

  <div
    style="height: calc(100% - 64px); text-align: center; width:100%; position:absolute; z-index: 5; background-color: rgba(0,0,2,0.75)">

    <div style="position:absolute; width:100%; bottom:10%; left:0; text-align: center;">

      <p style="color:#eee; font-size:1em;"> Since 1972</p>
      <strong style="color:#fff;font-size:1.25em;">Together to educate a better sports
        generation</strong>
      <br>
      <br>
      <img src="assets/images/naz-mun.jpg" style="display:inline-block; height: 100px; margin-right:10px">
      <img src="assets/images/ymca.png" style="display:inline-block; height: 100px;margin-right:10px">
      <br>

      <br>
      <small style="color:#eee;font-size:1em; margin-top: 20px">Nazareth, Israel</small>
      <br>
      <small style="color:#eee;font-size:1em; margin-top: 20px">050-540-4885</small>
    </div>

  </div>

  <slideshow [showCaptions]="false" [showDots]="true" [height]="'100%'" [autoPlay]="true" [imageUrls]="images_array">
  </slideshow>

</div>