<div style="width:100%; font-weight: lighter; height: calc(100% - 64px);">

  <div style="height: 50%; text-align: center; width:100%;">

    <div style="position:absolute; width:100%; bottom:50%; left:0; text-align: center;">


      <small style="color:#ccc;font-size:1.5em;">Together to educate a better sports
        generation.</small>
      <br>
        <br>
      <img src="assets/images/naz-mun.jpg" style="display:inline-block; height: 100px; margin-right:10px">
      <img src="assets/images/ymca.png" style="display:inline-block; height: 100px;margin-right:10px">
      <br>
      <br>
      <small style="color:#aaa;font-size:1em; margin-top: 20px">102, Nazareth, Israel</small>
      <br>
      <small style="color:#aaa;font-size:1em; margin-top: 20px">04-654184393</small>
    </div>




  </div>

  <slideshow [showCaptions]="false" [showDots]="true" [height]="'50%'" [autoPlay]="true" [imageUrls]="images_array">
  </slideshow>

</div>