<div style="margin-top:2px;font-weight: lighter;">
  <slideshow [showCaptions]="false" [showDots]="true" [height]="'400px'" [autoPlay]="true" [imageUrls]="images_array"></slideshow>
  <div style="margin-top: 25px; text-align: center; width:100%;">
    <p style="font-size:36px; color:#999; margin-bottom:1px;">Nazareth Tennis School</p>
    <small style=" color:#aaa; font-size:20px; margin-top:2px;">Together to educate a better sports
      generation.</small>
    <p style="color:#ccc; font-size:24px; margin-top:1px;margin-bottom:2px;"> Since 1972</p>
  </div>

  <div style="margin-top:35px; width:100; text-align: center">
    <img src="assets/images/naz-mun.jpg" style="display:inline-block; height: 100px; margin-right:10px">
    <img src="assets/images/ymca.png" style="display:inline-block; height: 100px;margin-right:10px">
    <img src="assets/images/ita.jpg" style="display:inline-block; height: 100px;">
  </div>


<div style="margin-top: 25px; text-align: center; width:100%;  ">
    <br>
    <p style="color:#777; font-size:18px;margin-top:1px;margin-bottom:1px;font-weight: lighter;"> 04-6573143</p>
    <small style="font-weight: lighter; color:#777; font-size:20px;">122, Ibin Zayad street, Nazareth,
      Israel</small>
    <p style="color:#777; font-size:18px;margin-top:1px;margin-bottom:1px;font-weight: lighter;">tennis@gmail.com</p>
  </div>

</div>