<mat-toolbar class="mat-elevation-z4" color="white" style="background-color: white;">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/about">
        <mat-icon>home</mat-icon>
        Home
      </button>
      <button mat-menu-item routerLink="/players">
        <mat-icon>person</mat-icon>
        Players
      </button>
      <button mat-menu-item routerLink="/groups">
        <mat-icon>group</mat-icon>
        Groups
      </button>
      <button mat-menu-item routerLink="/schedule">
        <mat-icon>event</mat-icon>
        Schedule
      </button>
      <button mat-menu-item routerLink="/scores">
        <mat-icon>score</mat-icon>
        Scores
      </button>
      <button mat-menu-item routerLink="/watch">
        <mat-icon>airplay</mat-icon>
        Watch
      </button>
    </mat-menu>
    <p style="font-size:0.8em;color:#555;margin-left: 2px;">Nazareth Tennis School</p>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">person
    </mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet style="height: 100%;"></router-outlet>